/* Component 1: Navbar Text*/
nav > a {
    text-decoration: none;
    color: white;
    background-color: var(--violet);
    font-size: 0.7em;
    width: 19dvw;
    height: 6dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em solid white;
}

/* Navbar Font Scaling Thin Screens */
@media screen and (max-width: 400px) {

    nav > a {
        font-size: 0.5em;
    }

}

/* Footer Text */
footer > p {
    padding-right: 0.5em;
}

/* Main Text */
main > p {
    text-align: left;
    line-height: 1.2em;
}

/* Component 2: Main Text Links */
main > p > a {
    text-decoration: none;
    color: var(--cyan);
}

/* Component 3: Cards For Work Experience And Blogs Text */
.cards > a {
    text-decoration: none;
}

/* Component 3: Cards For Work Experience And Blogs Text */
.cardtext > p {
    margin: 1em;
    color: white;
}

/* Blog Header Date Text */
main > section > section > p {
    font-size: 0.7em;
}

/* Component 4: Dot Point Lists */
.listmcj {
    min-width: 20em;
    text-align: left;
}

/* Component 5: Header For Blog Section */
.blogheader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Screen Sizing Desktop */
@media screen and (min-width: 700px) {

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main > p {
        text-align: left;
        line-height: 1.2em;
        max-width: 60%;
    }

}